GRTAGS
GTAGS
GPATH
index.php
app/protected/config
/db-backup
app/assets
app/protected/runtime
app/assets
demos/blog/protected/config/
demos/blog/protected/runtime/
demos/blog/assets
/nbproject/private/
nbproject
app/protected/runtime/
