body{
    font: 12.2px/1.3 Arial,Helvetica,Sans-Serif;
}
.wrap{
    background: url(../images/wrap_bg_02.png) repeat-y fixed center top;
    padding-bottom: 30px;
}
.main_width{
    width: 1002px;
    margin: 0 auto;
}
/*----------------- top ----------------------------*/
.top{
    height: 25px;
    line-height: 25px;
    background: #000;
    color: #fff;
}
.top span{
    padding-left: 10px;
    font-size: 14px;
}
.language_sanjiao,.l_china a,.l_english a,.l_french a,.l_German a,.l_Italian a,.l_Russian a,.l_Spanish a,.l_Foriuguese a,.l_Dutch a,.l_Greek a,.l_Japanese a,.l_Korean a,.l_Arabic a,.l_Hindi a,.l_Turkish a,.l_Indonesian a,.l_Portugal a{
    background:url(../images/language_img.png) no-repeat;
}
.language{
    width: 140px;
    position: relative;
    height: 25px;
    line-height: 25px;
}
.language_sanjiao{
    background-position: 0 -320px;
    width: 12px;
    height: 6px;
    position: absolute;
    right: 0;
    top: 10px;
}
.l_china a{
    background-position: 0 0;
    width: 18px;
    height: 15px;
    margin-top: 5px;
    line-height: 15px;
    padding-left: 25px;
    white-space:nowrap;
    display: inline-block; 
    color: #fff;
}
.l_english a,.l_french a,.l_German a,.l_Italian a,.l_Russian a,.l_Spanish a,.l_Foriuguese a,.l_Dutch a,.l_Greek a,.l_Japanese a,.l_Korean a,.l_Arabic a,.l_Hindi a,.l_Turkish a,.l_Indonesian a,.l_Portugal a{
    width: 16px;
    height: 11px;
    margin-top: 5px;
    line-height: 15px;
    padding-left: 25px;
    white-space:nowrap;
    display: inline-block; 
    color: #fff;
}
.l_english a{
    background-position: 0 -18px;
}
.l_french a{
    background-position: 0 -35px;
}
.l_German a{
    background-position: 0 -58px;
}
..l_Italian a{
    background-position: 0 -78px;
}
.l_Russian a{
    background-position: 0 -98px;
}
.l_Spanish a{
    background-position: 0 -118px;
}
.l_Foriuguese a{
    background-position: 0 -138px;
}
.l_Dutch a{
    background-position: 0 -158px;
}
.l_Greek a{
    background-position: 0 -178px;
}
.l_Japanese a{
    background-position: 0 -198px;
}
.l_Korean a{
    background-position: 0 -218px;
}
.l_Arabic a{
    background-position: 0 -238px;
}
.l_Hindi a{
    background-position: 0 -258px;
}
.l_Turkish a{
    background-position: 0 -278px;
}
.l_Indonesian a{
    background-position: 0 -298px;
}
.l_Portugal a{
    background-position: 0 -333px;
}
.l_box{
    position: absolute;
    width: 130px;
    padding: 5px;
    top: 25px;
    left: 0;
    background: #fff;
    z-index: 9999;
}
.l_box div a{
    color: #555;
}
.l_box div a:hover{
    text-decoration: underline;
}

/*----------------- header ----------------------------*/

.header{
    height: 110px;
    background: #022356;
    width: 100%;
    color: #fff;
    overflow: hidden;
}
.logo{
    width: 110px;
    padding-left: 20px;
}
.header_text{
    width: 400px; padding: 10px 0 0 50px;
}
.header_text h4{
    padding-bottom: 5px;
}
.header_text p{
    line-height: 21px;
}
.header_seach{
    width: 280px;
    padding:40px 0  0 30px;
}
.header_seach p{
    line-height: 30px;
}
.header_seach .seach_text{
    border-color: #666666 #3776A5 #3776A5 #666666;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    font-size: 11px;
    padding: 3px 2px 2px;
    width: 185px;
}
.header_seach .btnSearch{
    background: #053681;
    height: 23px;
    vertical-align: middle;
    width: 68px;
    border: none;
    cursor: pointer;
    color: #fff;
}
.header_seach .btnSearch:hover{
    background: #ffd93a;
}
.header_seach p{
    color: #8ca1c1;
}
.header_seach p a{
    color: #5476ac;
}
/*------------------ nav --------------------------------*/
.nav{
    height: 36px;
    background: url(../images/nav_bg_06.png) repeat-x;
    clear: both;
}
.nav ul li.nav_li{
    float: left;
    position: relative;
    background: url(../images/nav_fenge_06.png) no-repeat right 0;
    width: 125px;
    height: 36px;
}
.nav ul li.nav_li2{
    background: none;
    width: 127px;
}
.nav ul li a.nav_width{
    width: 125px;
    display: block;
    float: left;
    height: 36px;
    text-align: center;
    padding-top: 10px;
    font-size: 14px;
    color: #fff;
}
.nav ul li a.nav_width b{
    display: inline-block;
    background: url(../images/nav_icon.png) no-repeat;  
    width: 8px;
    height: 4px;
    margin-left: 5px;
}
.nav_main{
    position: absolute;
    top:34px;
    left: 0px;
    background: #fff;
    width: 150px;
    height: 110px;
    border:1px #ccc solid;
    border-top: none;
    box-shadow: 2px 2px 2px #999;
    z-index: 999;
}
.nav_main2{
    height: 170px;
}
.nav_main ul{
    width: 150px;
    padding:10px 0 0 25px;
}
.nav_main ul li a{
    display: block;
    line-height: 32px;
    color: #022356;
}
.nav_main ul li a:hover{
    text-decoration: underline;
}
.nav_main .nav_main_img{
    display: none;
    width: 120px;
    height: 110px;
    background: #eaeaea;
}
.nav_main .nav_main_img2{
    height: 170px;
}
.nav_main .nav_main_img img{
    padding: 10px;
}

/*-------------------- main ------------------------------*/
.main{
    padding: 20px 12px;
}
.banner{
    width: 670px;
    height: 284px;
    overflow: hidden;
    position: relative;
}
.cl:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.cl { zoom: 1; }
.frame { margin-bottom: 10px; border: 1px solid #e1e1e1; background: #FFF; }
.title { padding: 0 10px; height: 32px; font-size: 14px; font-weight: 700; line-height: 32px; overflow: hidden; }
.block { margin: 10px 10px 0; }
.temp { margin: 1px; }
.slideshow { clear: both; }
.slideshow li { position: relative; overflow: hidden; }
.slideshow span.title { position: absolute; bottom: 0; left: 0; margin-bottom: 0; width: 100%; height: 32px; line-height: 32px; font-size: 14px; text-indent: 10px; }
.slideshow span.title, .slidebar li { background: rgba(0,0,0,0.3); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #30000000,endColorstr = #30000000); color: #FFF; overflow: hidden; }
.slidebar li { float: left; margin-right: 1px; width: 20px; height: 20px; line-height: 20px; text-align: center; font-size: 10px; cursor: pointer; }
.slidebar li.on { background: rgba(255,255,255,0.5); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #50FFFFFF,endColorstr = #50FFFFFF); color: #000; font-weight: 700; }
.frame { background: none; border: 0px solid #fff; margin-bottom: 0px; }
.temp { margin: 0; }
.slidebar { position: absolute; top: 245px; left: 530px; }
.slideshow span.title, .slidebar li { background: rgba(0,0,0,0.3); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #90000000,endColorstr = #90000000); color: #FFF; overflow: hidden; }
.slidebar li.on { background: rgba(255,255,255,0.5); filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = #90000000,endColorstr = #90000000); color: #ff0; font-weight: 700; }
.slideshow SPAN.title { text-indent: 0px; }
.block { margin: 0;position: relative; }
#frameHlicAe { margin: 0px !important; border: 0px !important; }
.comiis_wrap960, .comiis_wrapad { margin: 0 auto; width: 670px; }
.comiis_wrapad { overflow: hidden; }
.comiis_wrapad img { float: left; margin-top: 0px; width: 670px; height: 284px;}
#slidesImgs li { width: 670px; height: 284px; display: none; }


.information{
    width: 295px;
}
.description{
    background: url(../images/description_16.png) no-repeat;
    width: 293px;
    height: 176px;
    color: #fff;
}
.description h3{
    width: 293px;
    text-align: center;
    padding: 20px 0 10px;
    font-size: 16px;
}
.description p{
    line-height: 21px;
    text-indent: 21px;
    padding: 0 10px;
}
.description a{
    display: block;
    width: 60px;
    height: 25px;
    background: #022356;
    color: #fff;
    line-height: 25px;
    text-align: center;
    border-radius: 5px;
    margin: 5px 0 0 10px;
}
.doubt a{
    display: block;
    width: 294px;
    height: 108px;
    background: url(../images/doubt_20.png) no-repeat;
}
.doubt a:hover{
    background: url(../images/doubt_s_20.png) no-repeat;
}
.doubt a h4{
    color: #022356;
    font-size: 16px;
    padding: 10px;
}
.doubt a p{
    color: #fff;
    width: 225px;
    padding-left: 10px;
    line-height: 21px;
}

/*------------- product ------------------*/
.product_information{
    clear: both;
    margin-top: 20px;
}
.product{
    width: 670px;
}
.product_nav{
    background: url(../images/product_23.png) repeat-x;
    height: 40px; 
    width: 650px;
    position: relative;
    line-height: 40px;
    padding-left: 20px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}
.product_nav span{
    display: block;
    position: absolute;
    top: 3px;
    right: 10px;
    font-size: 14px;
}
.product_nav span a{
    color: #fff;
    font-weight: normal;
}
.product_main{
    width: 670px;
    border:1px #ccc solid;
    border-top: none;
    height: 551px;
}
.product_main ul li{
    float: left;
    width: 150px;
    margin: 20px 0 0 15px;
}
.product_main ul li a.product_img{
    width: 130px;
    height: 103px;
    display: block;
    padding: 2px;
    border:1px #ccc solid;
    margin: 0 auto;
}
.product_main ul li span a{
    color: #555;
    width: 150px;
    text-align: center;
    display: inline-block;
    padding: 3px 0;
}
.product_main ul li p{
    line-height: 21px;
}
.product_main ul li p a{
    color: #999;
}
.product_main ul li p a:hover{
    color: #666;
    text-decoration: underline;
}
.brand{
    width: 295px;
    color: #fff;
}
.branding{
    width: 295px;
    height: 150px;
    background: url(../images/branding_png_25.png) no-repeat;
}
.branding h4{
    font-size: 20px;
    color: #022356;
    font-weight: bold;
    padding: 10px;
}
.branding_l{
    width: 190px;
    padding-left: 10px;
}
.branding_l ul li{
    line-height: 22px;
    height: 22px;
    background: url(../images/branding_san.png) no-repeat 0 center;
    padding-left: 12px;
    color: #022356;
    font-size: 14px;
}
.branding_r{
    padding: 15px 10px 0 0;
}
.branding_r span{
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
    text-shadow: 1px 1px 1px #333;
    display: block;
    height: 38px;
}
.proxy{
    width: 295px;
    border:1px #ccc solid;
    margin-top: 20px;
}
.proxy_inner{
    width: 240px;
    margin: 0 auto;
    padding: 10px 0;
}
.proxy_text{
    padding: 0 10px 10px;
}
.proxy_text h5{
    color: #022356;
    font-size: 16px;
    font-weight: bold;
}
.proxy_text p{
    color: #888;
    line-height: 21px;
}
.proxy_text p a{
    color: #022356;
    font-size: 12px;
}

/*----------------- footer -------------------*/
.footer_inner{
    height: 45px;
    width: 986px;
    margin: 0 auto;
    border-top: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
}
.footer_nav{
    width: 655px;
    margin: 15px 0 0 10px;
}
.footer_nav li{
    float: left;
}
.footer_nav li a{
    display: block;
    float: left;
    width: 80px;
    height: 15px;
    border-right: 1px #022356 solid;
    text-align: center;
    line-height: 15px;
    font-size: 12px;
    color: #666;
}
.footer_nav li a:hover{
    color: #333;
    text-decoration: underline;
}
.share{
    width: 160px;
    height: 16px;
    margin-top: 15px;
}
.share ul li{
    float: left;
}
.share ul li a{
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    background: url(../images/share_img_70.png) no-repeat;
    margin-left: 10px;
}
.share ul li a.share1{
    background-position: 0 0;
}
.share ul li a.share2{
    background-position: -24px 0;
}
.share ul li a.share3{
    background-position: -48px 0;
}
.share ul li a.share4{
    background-position: -72px 0;
}
.share ul li a.share5{
    background-position: -96px 0;
}
.share ul li a.share6{
    background-position: -120px 0;
}
.footer_text{
    width: 986px;
    text-align: center;
    padding-top: 10px;
    color: #999;
}





/*----------------- 列表页 ----------------*/
.detail_main{
    width: 720px;
}
.detail{
    margin-top: 20px;
}
.detail_nav{
    width: 230px;
    padding-left: 15px;
}
.detail_nav ul li a.detail_line{
    width: 200px;
    height: 35px;
    border-bottom: 1px #ccc solid;
    display: block;
    line-height: 35px;
    font-size: 14px;
    font-weight: bold;
    color: #022356;
}
.detail_nav ul li a:hover{
    color: #e5860b;
}
.detail_nav ul li div{
    margin-top: 10px;
    padding-left: 15px;
}
.detail_nav ul li div span a{
    height: 25px;
    display: block;
    line-height: 25px;
    font-size: 12px;
    color: #666;
}
/*供应商详情*/
.manufacturer_details{
    margin-top: 20px;
}
.manufacturer_details h1{
    font-family: Tahoma;
    font-size: 16px;
    margin: 0;
    padding: 8px 0;
}
.manufacturer_details h5{
    color: #3E6E94;
    font-size: 14px;
}


.product_us{
    margin-top: 20px;
    background: url(../images/product_us_03.png) no-repeat;
    width: 228px;
    height: 126px;
}
.product_us a{
    display: block;
    width: 228px;
    height: 126px;
}
.product_us_nav{
    width: 130px;
    font-size: 14px;
    display: block;
    font-family: '微软雅黑';
    color: #555;
    padding: 30px 0 0 90px;
}
.product_us_a{
    color: #888;
    font-family: '微软雅黑';
    padding: 20px 0 0 90px;
    display: block;
}

.detail_navigation p{
    color: #666;
}
.detail_navigation p a{
    color: #666;
    font-size: 12px;
}
.detail_navigation p a:hover{
    color: #e5860b;
}

.list_detail{
    width: 620px;
    margin: 2px auto;
}
.round{
    width: 100%;
}
.product_ShowImg ul{
    margin: 5px 0px;
    padding: 5px 0px;
    line-height: 17px;
}
.product_ShowImg ul li{
    float: left;
    margin: 5px;
    width: 170px;
    border: 1px solid #E2E3E3;
    background: #F8F8F8;  
}
.product_ShowImg img {
    border: 1px solid #FFF;
    border-bottom: 2px solid #E0E0E0;
    width: 166px;
    height: 128px;
}
table.round ul li{
    color: #4890B5;
    padding-bottom: 3px;
}
table.round ul.greyli li{
    color: #57657A;
    padding-bottom: 3px;
}
table.round p {
    margin: 2px 0px;
    padding: 8px 0px;
}
table.round strong {
    font-size:13px;
}
table.round ul li a:link, table.round ul li a:visited {
    color: #006699;
}
table.round ul li a:hover, table.round ul li a:active {
    color: #706B4B;
}
.Newsshow{
    padding: 20px 10px;
    border:1px #ccc solid;
    margin-top: 20px;
}
.Newsshow_inner div{
    line-height: 25px;
    color: #57657A;
}
.Newsshow_inner div strong{
    font-size: 13px;
    font-weight: bold;
    color: #57657A;
}
table.round strong {
    font-size: 13px;
}
.relatedtitle{
    color: #022356;
    font-weight: bold;
    font-size: 14px;
}
.inputbox {
    border: 1px solid #A7B0B9;
    background-image: url("../images/form-box.jpg");
    display: inline-block;
}

.detail_table tr td{
   line-height: 35px;
}
input.button, a.btn_blue, .btn_ul {
    background: url("../images/btn_sprite.png") repeat-x scroll 0 0 #004B85;
    border: 1px solid #004B85;
    border-radius: 3px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
    height: 24px;
    margin: 0 2px;
    padding: 2px 10px 5px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
}
input.button:hover, a.btn_blue:hover, .btn_ul:hover{
    background-position: 0 -23px;
    text-decoration: none;
}
.detail_about_us{
    padding: 10px 20px 20px;
}
.detail_about_us h2{
    color: #022356;
    font-weight: bold;
    font-size: 14px;
    padding: 20px 0 10px;
}
.detail_about_us div{
    width: 200px;
}
.detail_about_us div h4{
    font-size: 13px;
    padding: 10px 0;
    font-weight: bold;
    color: #022356;
}
.detail_dategories{
    margin-top: 20px;
}
.global_products p strong{
    font-size: 13px;
    padding: 10px 0;
    font-weight: bold;
    color: #022356;
}
.tabcate a{
    color: #022356;
}
.tabcate a:hover{
    text-decoration: underline;
}
.StockIndex{
    margin-top: 20px;
}
.StockIndex a {
    padding-right: 6px;
    text-align: left;
    text-decoration: underline;
    color: #022356;
}
.StockIndex a:hover{
    text-decoration: none;
}
.dategories_style {
    margin-top: 30px;
}
.dategories_style tr.dategories_nav{
    background: #76858e;
}
.dategories_style th{
    color: #FFFFFF;
    line-height: 25px;
}
.dategories_style td a{
    color: #022356;
}
.dategories_style tr td{
    border-bottom: 1px #ccc solid;
    padding: 8px;
}
.dategories_style tr.row{
    background: #f3f4f8;
}
.distribution{
    margin: 20px;
    color: #022356;
}
.dategories_style tr td a:hover{
    text-decoration: underline;
}

table tr.row {
    border-bottom: 1px #ccc solid;
    height: 50px;
    line-height: 30px;
}
.manufacturer table tr td{
    border-bottom: 1px solid #DAE1E7;
    padding: 8px;
    vertical-align: top;
    color: #999;
}
.manufacturer table tr td a{
    color: #022356;
}
.manufacturer table tr td a:hover{
    text-decoration: underline;
}

#rightcolumn{
    margin-top: 20px;
    padding-bottom: 20px;
}
#right_column {
    width: 670px;
    padding: 5px 25px 0px 20px;
    float: left;
}
#all-column {
    padding: 20px 40px 0px 40px;
}

#right_column #content p{
    zoom:normal;
}

#right_column ul {
    margin: 5px 0px;
    padding: 5px 0px;
   /* list-style:none;
    list-style-image:url(../images/common/li-style.gif); */
    line-height: 17px;
}
#right_column ul li{
    margin: 1px 0px 0px 10px;
    padding: 0px;
}
#right_column table.top {
    background: url("/Themes/StyleBarum/images/common/table-top.jpg") no-repeat;
}
#right_column table th {
    color: #FFFFFF;
    padding: 16px 8px 2px 12px;
}
#right_column table.list td {
    border-bottom: 1px solid #DAE1E7;
    vertical-align: top;
    padding: 8px;
}
#right_column table.list td.icon {
    background: url("/Themes/StyleBarum/images/common/news-icon.gif") no-repeat 10px 9px;
    width: 12px;
}
#right_column table.list td.iconb {
    background: #F2F4F7 url("/Themes/StyleBarum/images/common/news-icon.gif") no-repeat 10px 9px;
    width: 12px;
}
.left-line {
    float: left;
    padding: 0px 20px;
    border-left: 1px solid #DAE1E7;
}
.techimg {
    float: left;
    border: 1px solid #E2E3E3;
    width: 60px;
    height: 50px;
    text-align: center;
    margin-right: 5px;
}
#content_right_box {
    border:1px #ccc solid;
    padding: 10px 15px 0px 25px;
}
#content_with_box {
    font-family: 宋体, Arial, Helvetica, sans-serif;
    line-height: 17px;
    width: 265px;
    float: right;
    padding-bottom: 20px;
    margin: 0px 0px 10px 10px;
    font-size: 12px;
    color: #57657A;
}
#right_column p{
    line-height: 21px;
    margin-top: 10px;
}
.right_column,.service_tracking{
    margin-top: 30px;
}
.right_column p{
    margin: 5px 0px;
    padding: 5px 0px;   
}
.right_column table tr td{
    line-height: 35px;
}
.service{
    margin-top: 20px;
    padding: 0 35px 25px;
    border:1px #ccc solid;
}
.service p{
    line-height: 21px;
    text-indent: 22px;
}
.service h1{
    font-size: 16px;
    color: #57657A;
    font-weight: bold;
    padding-bottom: 10px;
}
.oreder{
    margin-top: 20px;
}
#content ul {
margin: 5px 0px;
padding: 5px 0px;
line-height: 17px;
}
#content h3{
    color: #990000;
    font-size: 16px;
    font-family: Tahoma;
    margin: 0px;
    padding: 8px 0px;
}
#content h1{
    margin-top: 30px;
    font-size: 18px;
    font-weight: bold;
}
#content p{
    margin: 5px 0px;
    padding: 5px 0px;
}
#content div{line-height: 23px;}
.about{
    margin-top: 30px;
}
.about p{
    line-height: 23px;
    font-size: 13px;
    color: #57657A;
    text-indent: 24px;
}
#right_column h2 {
    color: #998551;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 0;
}
#right_column p{
    color: #57657A;
}
#right_column .share ul li{
    margin: 0 0 0 0 ;
}
#goTopBtn {position: fixed;line-height:76px;width:77px;bottom:220px;height:76px;cursor:pointer;display:none;
background:url(../images/top.png) no-repeat;}
#goTopBtn a{
    width: 100%;
    height: 100%;
    display: block;
}
.body_position{
    position: relative;
}
#mail a{position: fixed;line-height:76px;width:77px;bottom:300px; right:0px;height:76px;cursor:pointer;
background:url(../images/mail.png) no-repeat; z-index: 9999; display: block;}
.round p{
    color: #57657A;
    line-height: 21px;
}


.distribution_main{
    margin-top: 20px;
    width: 660px;
    overflow: hidden;
}
.distribution_main li{
    width: 122px;
    height: 56px;
    border: 4px #e3e3e3 solid;
    float: left;
    line-height: 56px;
    text-align: center;
    margin: 20px 15px;
}
.distribution_main li a{
    display: block;
}
.distribution_main li a img{
    display: inline-block;
    width: 122px;
    height: 59px;
}
.manufacturer_b table tr{
    border-bottom: 1px #ccc solid;
}
.manufacturer_tab{
    margin-top: 30px;
    width: 100%;
    margin-left: 40px;
}
.manufacturer_tab tr{
    height: 60px;
}
.manufacturer_tab tr td.icon{
    width: 140px;
    overflow: hidden;
    height: 60px;
}
.manufacturer_tab tr td.icon img{
    display: inline-block;
    max-width: 140px;
    max-height: 49px;
}

.errorSummary{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: red 1px dashed;
}


.order_success {
    border: 1px dashed;
    color: #008000;
    margin: 10px;
    padding: 10px;
}